<!DOCTYPE html>
<html ng-app="app" ng-controller="appCtrl">
<head>
    <title ng-bind="config.appname"></title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="KUP">
    <meta name="author" content="IG PROG, obrt za računalno programiranje, vl. Igor Gašparović">
    <link rel="stylesheet" href="./assets/css/vendor/bootstrap.min.css">
    <script src="./assets/js/vendor/jquery.min.js"></script>
    <script src="./assets/js/vendor/bootstrap.min.js"></script>
    <script src="./assets/js/vendor/angular.min.js"></script>
    <script src="./assets/js/vendor/loader.js"></script>
    <!--*********** FontAwesome ***********-->
    <script src="./assets/js/vendor/fontawesome.min.js"></script>
    <script src="./assets/js/vendor/solid.min.js"></script>
    <link rel="stylesheet" href="./assets/css/vendor/solid.min.css">
    <!--*********** FontAwesome ***********-->
    <link rel="stylesheet" href="./assets/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Encode Sans Expanded' rel='stylesheet'>
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <a class="navbar-brand" href="#">
            <img src="../assets/img/logo.png" class="logo" alt="{{config.appname}}" ng-cloak />
        </a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto" ng-cloak>
                <li class="nav-item">
                    <a href="#" class="nav-link" data-toggle="modal" data-target="#infoModal"><i class="fa fa-info"></i> Info</a>
                </li>
                <li class="nav-item">
                    <a href="https://www.igprog.hr/kup/uputa.html" target="_blank" class="nav-link"><i class="fa fa-question"></i> Uputa</a>
                </li>
                <li ng-if="d.isLogin&&config.showadminpage" class="nav-item">
                    <a href="#" class="nav-link" ng-click="toggleTpl('admin', 'Admin')"><i class="fa fa-user-lock"></i> Admin</a>
                </li>
                <li ng-if="d.isLogin" class="nav-item">
                    <a href="" class="nav-link" ng-click="logout()"><i class="fa fa-sign-out-alt"></i> Odjava</a>
                </li>
                <li ng-if="d.isLogin" class="nav-item dropdown d-sm-block d-md-none">
                    <a class="nav-link dropdown-toggle" href="#" id="smallerscreenmenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Izbornik
                    </a>
                    <div class="dropdown-menu" aria-labelledby="smallerscreenmenu">
                        <a class="dropdown-item {{x.tpl==null?'bg-light':''}}" href="#" ng-click="toggleTpl(x.tpl, x.title)" ng-repeat="x in config.menu">{{x.title}}</a>
                        <ul>
                            <link-directive href="'#submenu1'" tpl="'null'" title="'Rekapitulacija'" ico="'calculator'"></link-directive>
                            <li id='submenu1' class="collapse sidebar-submenu">
                                <a href="#" class="list-group-item list-group-item-action" ng-click="toggleTpl('recapitulation', 'Obveze za članske uloge članova', 'monthlyFee')">
                                    <span class="fa fa-bars fa-fw mr-3"></span>
                                    <span class="menu-collapsed">Ulozi</span>
                                </a>
                            </li>
                            <li id='submenu1' class="collapse sidebar-submenu">
                                <a href="#" class="list-group-item list-group-item-action" ng-click="toggleTpl('recapitulation', 'Ostali prihodi od financijske imovine - manipulativni troškovi, 'manipulativeCosts')">
                                    <span class="fa fa-bars fa-fw mr-3"></span>
                                    <span class="menu-collapsed">Manipulativni troškovi</span>
                                </a>
                            </li>
                            <li id='submenu1' class="collapse sidebar-submenu">
                                <a href="#" class="list-group-item list-group-item-action" ng-click="toggleTpl('recapitulation', 'Troškovi održavanja računa (Net. banking i za)', 'bankFee')">
                                    <span class="fa fa-bars fa-fw mr-3"></span>
                                    <span class="menu-collapsed">Troškovi održavanja računa</span>
                                </a>
                            </li>
                            <li id='submenu1' class="collapse sidebar-submenu">
                                <a href="#" class="list-group-item list-group-item-action" ng-click="toggleTpl('recapitulation', 'Kamata na oročena sredstva i depozit po viđenju', 'interest')">
                                    <span class="fa fa-bars fa-fw mr-3"></span>
                                    <span class="menu-collapsed">Kamata po štednji</span>
                                </a>
                            </li>
                            <li id='submenu1' class="collapse sidebar-submenu">
                                <a href="#" class="list-group-item list-group-item-action" ng-click="toggleTpl('recapitulation', 'Intelektualne i osobne usluge', 'otherFee')">
                                    <span class="fa fa-bars fa-fw mr-3"></span>
                                    <span class="menu-collapsed">Razni materijalni troškovi</span>
                                </a>
                            </li>
                            <li id='submenu1' class="collapse sidebar-submenu">
                                <a href="#" class="list-group-item list-group-item-action" ng-click="toggleTpl('recapitulation', 'Žiro - Račun', 'giroaccount')">
                                    <span class="fa fa-bars fa-fw mr-3"></span>
                                    <span class="menu-collapsed">Žiro - Račun</span>
                                </a>
                            </li>
                            <link-directive href="'#submenu2'" tpl="'settings'" title="'Postavke'" ico="'cogs'"></link-directive>
                            <li id='submenu2' class="collapse sidebar-submenu">
                                <a href="#" class="list-group-item list-group-item-action" ng-click="toggleTpl('settings', 'Generalne postavke')">
                                    <span class="fa fa-cog fa-fw mr-3"></span>
                                    <span class="menu-collapsed">Generalne postavke</span>
                                </a>
                            </li>
                            <li id='submenu2' class="collapse sidebar-submenu">
                                <a href="#" class="list-group-item list-group-item-action" ng-click="toggleTpl('buisinessunit', 'Poslovne jedinice')">
                                    <span class="fa fa-building fa-fw mr-3"></span>
                                    <span class="menu-collapsed">Poslovne jedinice</span>
                                </a>
                            </li>
                            <li id='submenu2' class="collapse sidebar-submenu">
                                <a href="#" class="list-group-item list-group-item-action" ng-click="toggleTpl('backup', 'Backup')">
                                    <span class="fa fa-database fa-fw mr-3"></span>
                                    <span class="menu-collapsed">Backup</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    
    <div ng-if="!d.isLogin" ng-cloak>
        <ng-include src="'./assets/partials/login.html'"></ng-include>
    </div>

    <div ng-if="d.isLogin" class="row" id="body-row" ng-cloak>
        <ng-include src="'./assets/partials/sidebar.html'"></ng-include>
        <div class="col bg-light">
            <div style="min-height:50px">
            </div>
            <ng-include ng-if="g.currTpl=='./assets/partials/dashboard.html'" src="g.currTpl"></ng-include>
            <div ng-if="g.currTpl!=='./assets/partials/dashboard.html'" class="card" style="min-height:85%">
                <h4 class="card-header">{{g.currTpl=='./assets/partials/dashboard.html'?config.apptitle:g.currTplTitle}}</h4>
                <div class="card-body">
                    <ng-include src="g.currTpl"></ng-include>
                </div>
            </div>
        </div>
    </div>

    <modal-directive id="'infoModal'" headertitle="'Info'" src="'./assets/partials/popup/info.html'"></modal-directive>

    <script src="./assets/js/app.js"></script>

</body>
</html>
