<!DOCTYPE html>
<html>
<head>
    <title>KUP JANAF</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="./assets/css/vendor/bootstrap.min.css">
    <script src="./assets/js/vendor/jquery.min.js"></script>
    <script src="./assets/js/vendor/bootstrap.min.js"></script>
    <script src="./assets/js/vendor/angular.min.js"></script>
    <!--*********** FontAwesome ***********-->
    <script src="./assets/js/vendor/fontawesome.min.js"></script>
    <script src="./assets/js/vendor/solid.min.js"></script>
    <link rel="stylesheet" href="./assets/css/vendor/solid.min.css">
    <link rel="stylesheet" href="./assets/css/style.css">
    <!--*********** FontAwesome ***********-->
</head>
<body ng-app="app" ng-controller="appCtrl" ng-cloak>
    <nav class="navbar navbar-expand-md navbar-dark bg-primary">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="#">
            <!--<img src="https://v4-alpha.getbootstrap.com/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt="">-->
            <i class="fa fa-piggy-bank fa-2x"></i>
            <span class="menu-collapsed">KUP JANAF</span>
        </a>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#" data-toggle="modal" data-target="#infoModal">Info</a>
                </li>
                <li ng-if="d.isLogin" class="nav-item">
                    <a class="nav-link" href="" ng-click="logout()">Odjava</a>
                </li>
                <li ng-if="d.isLogin" class="nav-item dropdown d-sm-block d-md-none">
                    <a class="nav-link dropdown-toggle" href="#" id="smallerscreenmenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Izbornik
                    </a>
                    <div class="dropdown-menu" aria-labelledby="smallerscreenmenu">
                        <a class="dropdown-item {{x.tpl==null?'bg-light':''}}" href="#" ng-click="toggleTpl(x.tpl, x.title)" ng-repeat="x in config.menu">{{x.title}}</a>

                        <ul>
                            <link-directive href="'#submenu1'" tpl="'null'" title="'Rekapitulacija'" ico="'calculator'"></link-directive>
                            <li id='submenu1' class="collapse sidebar-submenu">
                                <a href="#" class="list-group-item list-group-item-action" ng-click="toggleTpl('recapitulation', 'Ulozi', 'monthlyFee')">
                                    <span class="fa fa-bars fa-fw mr-3"></span>
                                    <span class="menu-collapsed">Ulozi</span>
                                </a>
                            </li>
                            <li id='submenu1' class="collapse sidebar-submenu">
                                <a href="#" class="list-group-item list-group-item-action" ng-click="toggleTpl('recapitulation', 'Manipulativni troškovi (' + config.manipulativeCostsPerc + '% po izvrš. isplat. pozajm.)', 'manipulativeCosts')">
                                    <span class="fa fa-bars fa-fw mr-3"></span>
                                    <span class="menu-collapsed">Manipulativni troškovi</span>
                                </a>
                            </li>
                            <li id='submenu1' class="collapse sidebar-submenu">
                                <a href="#" class="list-group-item list-group-item-action" ng-click="toggleTpl('recapitulation', 'Troškovi održavanja računa (Net. banking i za)', 'bankFee')">
                                    <span class="fa fa-bars fa-fw mr-3"></span>
                                    <span class="menu-collapsed">Troškovi održavanja računa</span>
                                </a>
                            </li>
                            <li id='submenu1' class="collapse sidebar-submenu">
                                <a href="#" class="list-group-item list-group-item-action" ng-click="toggleTpl('recapitulation', 'Kamata po štednji', 'interest')">
                                    <span class="fa fa-bars fa-fw mr-3"></span>
                                    <span class="menu-collapsed">Kamata po štednji</span>
                                </a>
                            </li>
                            <li id='submenu1' class="collapse sidebar-submenu">
                                <a href="#" class="list-group-item list-group-item-action" ng-click="toggleTpl('recapitulation', 'Razni materijalni troškovi', 'otherFee')">
                                    <span class="fa fa-bars fa-fw mr-3"></span>
                                    <span class="menu-collapsed">Razni materijalni troškovi</span>
                                </a>
                            </li>
                            <li id='submenu1' class="collapse sidebar-submenu">
                                <a href="#" class="list-group-item list-group-item-action" ng-click="toggleTpl('recapitulation', 'Žiro - Račun', 'giroaccount')">
                                    <span class="fa fa-bars fa-fw mr-3"></span>
                                    <span class="menu-collapsed">Žiro - Račun</span>
                                </a>
                            </li>
                            <link-directive href="'#submenu2'" tpl="'settings'" title="'Postavke'" ico="'cogs'"></link-directive>
                            <li id='submenu2' class="collapse sidebar-submenu">
                                <a href="#" class="list-group-item list-group-item-action" ng-click="toggleTpl('settings', 'Generalne postavke')">
                                    <span class="fa fa-cog fa-fw mr-3"></span>
                                    <span class="menu-collapsed">Generalne postavke</span>
                                </a>
                            </li>
                            <li id='submenu2' class="collapse sidebar-submenu">
                                <a href="#" class="list-group-item list-group-item-action" ng-click="toggleTpl('buisinessunit', 'Poslovne jedinice')">
                                    <span class="fa fa-building fa-fw mr-3"></span>
                                    <span class="menu-collapsed">Poslovne jedinice</span>
                                </a>
                            </li>
                            <li ng-if="config.showadminpage" id='submenu2' class="collapse sidebar-submenu">
                                <a href="#" class="list-group-item list-group-item-action" ng-click="toggleTpl('admin', 'Admin')">
                                    <span class="fa fa-user-lock fa-fw mr-3"></span>
                                    <span class="menu-collapsed">Admin</span>
                                </a>
                            </li>
                        </ul>

                    </div>
                </li>
            </ul>
        </div>
    </nav>
    
    <div ng-if="!d.isLogin">
        <ng-include src="'./assets/partials/login.html'"></ng-include>
    </div>

    <div ng-if="d.isLogin" class="row" id="body-row">
        <ng-include src="'./assets/partials/sidebar.html'"></ng-include>
        <div class="col">
            <div style="min-height:50px">
            </div>
            <div class="card">
                <h4 class="card-header">{{g.currTplTitle}}</h4>
                <div class="card-body">
                    <ng-include src="g.currTpl"></ng-include>
                </div>
            </div>
        </div>
    </div>

    <modal-directive id="'infoModal'" src="'./assets/partials/popup/info.html'"></modal-directive>

    <script src="./assets/js/app.js"></script>

</body>
</html>
