<!DOCTYPE html>
<html>
<head>
    <title>KUP JANAF</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="./assets/css/vendor/bootstrap.min.css">
    <script src="./assets/js/vendor/jquery.min.js"></script>
    <script src="./assets/js/vendor/bootstrap.min.js"></script>
    <script src="./assets/js/vendor/angular.min.js"></script>
    <!--*********** FontAwesome ***********-->
    <script src="./assets/js/vendor/fontawesome.min.js"></script>
    <script src="./assets/js/vendor/solid.min.js"></script>
    <link rel="stylesheet" href="./assets/css/vendor/solid.min.css">
    <link rel="stylesheet" href="./assets/css/style.css">
    <!--*********** FontAwesome ***********-->
</head>
<body ng-app="app" ng-controller="appCtrl" ng-cloak>
    <nav class="navbar navbar-expand-md navbar-dark bg-primary">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="#">
            <!--<img src="https://v4-alpha.getbootstrap.com/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt="">-->
            <span class="menu-collapsed">KUP JANAF</span>
        </a>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#" data-toggle="modal" data-target="#infoModal">Info</a>
                </li>
                <li ng-if="d.isLogin" class="nav-item">
                    <a class="nav-link" href="" ng-click="logout()">Odjava</a>
                </li>
                <li ng-if="d.isLogin" class="nav-item dropdown d-sm-block d-md-none">
                    <a class="nav-link dropdown-toggle" href="#" id="smallerscreenmenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Menu
                    </a>
                    <div class="dropdown-menu" aria-labelledby="smallerscreenmenu">
                        <a class="dropdown-item" href="#" ng-click="toggleTpl('dashboard', config.apptitle)">Naslovna</a>
                        <a class="dropdown-item" href="#" ng-click="toggleTpl('newuser', 'Novi Korisnik')">Novi Korisnik</a>
                        <a class="dropdown-item" href="#"ng-click="toggleTpl('users', 'Korisnici')">Korisnici</a>
                        <a class="dropdown-item" href="#" ng-click="toggleTpl('loan', 'Nova Pozajmica')">Nova Pozajmica</a>
                        <a class="dropdown-item" href="#" ng-click="toggleTpl('account', 'Promet')">Promet</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    
    <div ng-if="!d.isLogin">
        <ng-include src="'./assets/partials/login.html'"></ng-include>
    </div>

    <div ng-if="d.isLogin" class="row" id="body-row">
            <ng-include src="'./assets/partials/sidebar.html'"></ng-include>
            <div class="col">
                <div style="min-height:50px">
                </div>
                <div class="card">
                    <h4 class="card-header">{{g.currTplTitle}}</h4>
                    <div class="card-body">
                        <ng-include src="g.currTpl"></ng-include>
                    </div>
                </div>
            </div>
    </div>

    <modal-directive id="'infoModal'" title="'Info'" partial="'./assets/partials/popup/info.html'"></modal-directive>

    <script src="./assets/js/app.js"></script>

</body>
</html>
