<div ng-controller="accountCtrl">
    <form class="form-inline">
        <div class="form-group">
            <label for="buissinesUnitCode" class="mb-2 mr-sm-2">Poslovna jedinica:</label>
            <select ng-model="d.buisinessUnitCode" class="form-control mb-2 mr-sm-2" name="buissinesUnitCode">
                <option ng-repeat="x in g.buisinessUnits" value="{{x.code}}">{{x.code}} - {{x.title}}</option>
            </select>
        </div>
        <label for="month" class="mb-2 mr-sm-2">Mjesec:</label>
        <select ng-model="d.month" class="form-control mb-2 mr-sm-2">
            <option ng-repeat="x in g.months" value="{{x.id}}">{{x.title}}</option>
        </select>
        <label for="year" class="mb-2 mr-sm-2"> / </label>
        <select ng-model="d.year" class="form-control mb-2 mr-sm-2">
            <option ng-repeat="x in g.years" value="{{x}}">{{x}}</option>
        </select>
        <label for="year" class="mb-2 mr-sm-2"> g </label>
        <button ng-click="getMonthlyRecords(d)" type="submit" class="btn btn-outline-primary mb-2 mr-sm-2"><i class="fas fa-filter"></i> Filter</button>
    </form>
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Mat. br.</th>
                    <th>Prezime</th>
                    <th>Ime</th>
                    <th>Ulog ({{config.currency}})</th>
                    <th>Pozajica ({{config.currency}})</th>
                    <th>Rata ({{config.currency}})</th>
                    <th>Otplaćeno ({{config.currency}})</th>
                    <th>Ostatak za uplatu ({{config.currency}})</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="x in d.users track by $index">
                    <td>{{x.user.id}}</td>
                    <td>{{x.user.lastName}}</td>
                    <td>{{x.user.firstName}}</td>
                    <td><input ng-model="x.monthlyFee" class="form-control" /></td>
                    <td>{{x.loan}}</td>
                    <td><input ng-model="x.repayment" class="form-control" /></td>
                    <td>{{x.repaid}}</td>
                    <td>{{x.restToRepayment}}</td>
                    <td><button class="btn btn-outline-primary" ng-click="save(x, $index)"><i class="fas fa-save"></i> Spremi</button></td>
                </tr>
            </tbody>
        </table>
    </div>
    <pre ng-if="config.debug">{{d | json}}</pre>
</div>