<div ng-controller="userCtrl">
    <div class="row">
        <div class="col-lg-3">
            <form class="form-inline">
                <div class="form-group">
                    <select ng-model="d.buisinessUnitCode" class="form-control mb-2 mr-sm-2" name="buissinesUnitCode" ng-change="load(d)">
                        <option value="" selected disabled>Poslovna jedinica</option>
                        <option ng-repeat="x in g.buisinessUnits" value="{{x.code}}">{{x.title}}</option>
                    </select>
                    <label for="year" class="mb-2 mr-sm-2">Godina:</label>
                    <select ng-model="d.year" class="form-control mb-2 mr-sm-2">
                        <option ng-repeat="x in g.years" value="{{x}}">{{x}}</option>
                    </select>
                </div>
            </form>
        </div>
        <div class="col-lg-9 text-right">
            <button class="btn btn-outline-success" ng-disabled="loadingZip==true" ng-click="createAllCards(d)">
                <loading-directive btntitle="'Spremi sve katrice u ZIP'" loadingtitle="'Kreiranje Kartica...'" value="loadingZip" pdf="true"></loading-directive>
            </button>
            <div class="pt-2">
                <a ng-if="zipFileName" href="/upload/pdf/temp/{{zipFileName}}"><i class="fa fa-file-archive"></i> {{zipFileName}}</a>
            </div>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-lg-10">
            <form class="form-inline">
                <div class="form-group">
                    <label for="user" class="mb-2 mr-sm-2">Korisnik:</label>
                    <select ng-model="d.user.id" class="form-control mb-2 mr-sm-2" name="user">
                        <option ng-repeat="x in d.users" value="{{x.id}}">{{x.lastName}} {{x.firstName}} ({{x.id}})</option>
                    </select>
                    <!--<label for="year" class="mb-2 mr-sm-2">Godina:</label>
                    <select ng-model="d.year" class="form-control mb-2 mr-sm-2">
                        <option ng-repeat="x in g.years" value="{{x}}">{{x}}</option>
                    </select>-->
                    <button ng-click="get('card', 'Kartica Korisnika', d.user.id, d.year)" type="submit" class="btn btn-outline-primary mb-2 mr-sm-2" title="Filter"><i class="fas fa-filter"></i></button>
                </div>
            </form>
        </div>
        <div class="col-lg-2 text-right">
            <button ng-show="!d.pdf" class="btn btn-outline-danger" ng-disabled="d.loadingPdf==true" ng-click="print(d, 'Card')">
                <loading-directive btntitle="'PDF'" loadingtitle="'Kreiranje PDF-a...'" value="d.loadingPdf" pdf="true"></loading-directive>
            </button>
            <a ng-if="d.pdf" href="{{d.pdf}}" class="btn btn-outline-success" download ng-click="removePdfLink()"><i class="fas fa-download"></i> Preuzmi PDF</a>
        </div>
    </div>
    <div ng-if="d.user.records.length>0">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th colspan="3"></th>
                        <th colspan="2" class="text-center border-left">Ulog</th>
                        <th colspan="2" class="text-center border-left">Pozajmica</th>
                    </tr>
                    <tr class="thead-light">
                        <th>Datum</th>
                        <th>Mjesec</th>
                        <th>Opis</th>
                        <th class="text-right border-left">Duguje ({{config.currency}})</th>
                        <th class="text-right">Potražuje ({{config.currency}})</th>
                        <th class="text-right border-left">Duguje ({{config.currency}})</th>
                        <th class="text-right">Potražuje ({{config.currency}})</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="font-weight-bold">
                        <td>{{d.user.records[0].lastDayInMonth}}</td>
                        <td>{{d.user.records[0].month}}</td>
                        <td>{{d.user.records[0].note}}</td>
                        <td class="text-right border-left"></td>
                        <td class="text-right">{{d.user.records[0].monthlyFeeStartBalance | number:2}}</td>
                        <td class="text-right border-left">{{d.user.records[0].loanStartBalance | number:2}}</td>
                        <td class="text-right"></td>
                    </tr>
                    <tr ng-if="x.lastDayInMonth!=='01.01'" ng-repeat="x in d.user.records track by $index">
                        <td>{{x.lastDayInMonth}}</td>
                        <td>{{x.month}}</td>
                        <td >{{x.note}}</td>
                        <td class="text-right border-left"><span ng-if="x.recordType=='terminationWithdraw'">{{x.amount | number:2}}</span></td>
                        <td class="text-right"><span ng-if="x.recordType=='monthlyFee'||x.recordType=='userPayment'">{{x.amount | number:2}}</span></td>
                        <td class="text-right border-left">
                            <!--<span ng-if="x.recordType=='repayment'||x.recordType=='userRepayment'"><em class="text-muted small">{{x.restToRepayment | number:2}}</em></span>-->
                            <span ng-if="x.recordType=='withdraw'">{{x.activatedLoan | number:2}}</span>
                        </td>
                        <td class="text-right"><span ng-if="x.recordType=='repayment' || x.recordType == 'userRepayment' || x.recordType=='manipulativeCosts' || x.recordType=='loan'">{{x.amount | number:2}}</span></td>
                    </tr>
                </tbody>
                <tfoot ng-if="d.user.records.length>0" class="thead-light">
                    <tr class="text-right">
                        <th colspan="3">Ukupno:</th>
                        <th class="border-left">{{d.user.total.terminationWithdraw | number:2}}</th>
                        <th>{{d.user.total.userPaymentWithMonthlyFeeTotal | number:2}}</th>
                        <th class="border-left">{{d.user.total.loanToRepaid | number:2}}</th>
                        <th>{{d.user.total.repaymentTotal | number:2}}</th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
    <json-directive data="d" debug="config.debug"></json-directive>
</div>