 <div class="container">
     <div class="row h-100 justify-content-center align-items-center">
         <div class="col-sm-8">
             <div class="row p-2">
                 <div class="col-sm-6 p-2">
                     <div class="card btn btn-outline-primary" ng-click="toggleTpl('user', 'Novi Korisnik')">
                         <div class="card-body text-center">
                             <div>
                                 <i class="fas fa-user-plus fa-3x"></i>
                             </div>
                             <p class="card-text">NOVI KORISNIK</p>
                         </div>
                     </div>
                 </div>
                 <div class="col-sm-6 p-2">
                     <div class="card btn btn-outline-primary" ng-click="toggleTpl('loan', 'Nova Pozajmica')">
                         <div class="card-body text-center">
                             <div>
                                 <i class="fas fa-hand-holding-usd fa-3x"></i>
                             </div>
                             <p class="card-text">NOVA POZAJMICA</p>
                         </div>
                     </div>
                 </div>
                 <div class="col-sm-6 p-2">
                     <div class="card btn btn-outline-primary" ng-click="toggleTpl('account', 'Promet')">
                         <div class="card-body text-center">
                             <div>
                                 <i class="fas fa-coins fa-3x"></i>
                             </div>
                             <p class="card-text">PROMET</p>
                         </div>
                     </div>
                 </div>
                 <div class="col-sm-6 p-2">
                     <div class="card btn btn-outline-primary" ng-click="toggleTpl('card', 'Kartica Korsnika')">
                         <div class="card-body text-center">
                             <div>
                                 <i class="fas fa-id-card fa-3x"></i>
                             </div>
                             <p class="card-text">KARTICA KORISNIKA</p>
                         </div>
                     </div>
                 </div>
             </div>
         </div>
     </div>
</div>
