 <div ng-controller="dashboardCtrl" class="container-fluid">
     <div class="row h-100 justify-content-center align-items-center">
        <div ng-if="x.dashboard!==undefined" ng-repeat="x in config.menu" class="col-lg-3 p-4">
            <div class="same-height card btn btn-outline-{{x.dashboard.class}} shadow" ng-click="toggleTpl(x.tpl, x.title)">
                <div class="card-body text-center">
                    <div>
                        <i class="fas fa-{{x.ico}} fa-3x"></i>
                    </div>
                    <p class="card-text text-uppercase">{{x.title}}</p>
                </div>
            </div>
        </div>
        <div id="piechart_3d" style="width:97%; height:450px;" class="shadow m-2"></div>
        <div id="chart_div" style="width:97%; height: 450px; background-color:#fff" class="shadow m-2 p-4"></div> 
     </div>
     <json-directive data="d" debug="config.debug"></json-directive>
</div>
