 <div ng-controller="dashboardCtrl" class="container">
     <div class="row h-100 justify-content-center align-items-center">
        <div ng-if="x.dashboard!==undefined" ng-repeat="x in config.menu" class="col-lg-3 p-2">
            <div class="same-height card btn btn-outline-{{x.dashboard.class}}" ng-click="toggleTpl(x.tpl, x.title)">
                <div class="card-body text-center">
                    <div>
                        <i class="fas fa-{{x.ico}} fa-3x"></i>
                    </div>
                    <p class="card-text text-uppercase">{{x.title}}</p>
                </div>
            </div>
        </div>
         <div id="piechart_3d" style="width:100%; height:450px;"></div>
     </div>
</div>
