<div ng-controller="entryCtrl">
    <div class="row mb-2">
        <div class="col-sm-10">
            <form class="form-inline">
                <div class="form-group">
                    <select ng-model="d.month" class="form-control mb-2 mr-sm-2">
                        <option value="" selected disabled>Mjesec</option>
                        <option value="0">PS</option>
                        <option ng-repeat="x in g.months" value="{{x.id}}">{{x.id}} | {{x.title}}</option>
                    </select>
                    <select ng-model="d.year" class="form-control mb-2 mr-sm-2">
                        <option value="" selected disabled>Godina</option>
                        <option ng-repeat="x in g.years" value="{{x}}">{{x}}</option>
                    </select>
                    <button ng-click="load(d)" type="submit" class="btn btn-outline-primary mb-2 mr-sm-2" title="Filter"><i class="fas fa-filter"></i></button>
                </div>
            </form>
        </div>
        <div class="col-sm-2 text-right">
            <button ng-show="!d.pdf && d.records.data.length>0 && !d.loading" class="btn btn-outline-danger" ng-disabled="d.loadingPdf==true" ng-click="print(d)">
                <loading-directive btntitle="'PDF'" loadingtitle="'Kreiranje PDF-a...'" value="d.loadingPdf" pdf="true"></loading-directive>
            </button>
            <a ng-if="d.pdf" href="{{d.pdf}}" class="btn btn-outline-success" download ng-click="removePdfLink()"><i class="fas fa-download"></i> Preuzmi PDF</a>
        </div>
    </div>
    <div ng-if="d.records.data.length>0 && !d.loading">
        <strong>Temeljnica za knjiženje br. {{d.month == 0 ? 'PS' : d.month}}</strong>
        <div>Knjižiti na dan: {{d.date}}</div>
    </div>
    <loading-directive loadingtitle="'Učitavanje...'" value="d.loading" size="5"></loading-directive>
    <div ng-if="d.records.data.length>0 && !d.loading" class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>Sadržaj</th>
                    <th class="text-right">Konto</th>
                    <th class="text-right">Duguje</th>
                    <th class="text-right">Potražuje</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="x in d.records.data">
                    <td>{{x.note}}</td>
                    <td class="text-right">{{x.account.code}}</td>
                    <td class="text-right"><span ng-if="x.output==0">-</span><span ng-if="x.output>0">{{x.output | number:2}}</span></td>
                    <td class="text-right"><span ng-if="x.input==0">-</span><span ng-if="x.input>0">{{x.input | number:2}}</span></td>
                </tr>
            </tbody>
            <tfoot class="thead-light">
                <tr class="text-right">
                    <th colspan="2">Ukupno:</th>
                    <th>{{d.records.total.output | number:2}}</th>
                    <th>{{d.records.total.input | number:2}}</th>
                </tr>
            </tfoot>
        </table>
    </div>
    <json-directive data="d" debug="config.debug"></json-directive>
</div>
