<div ng-controller="feeCtrl">
    <div class="row">
        <div class="col-sm-10">
            <form class="form-inline">
                <select ng-model="d.year" class="form-control mb-2 mr-sm-2">
                    <option ng-if="g.years.length>0" value="" selected disabled>Godina</option>
                    <option ng-repeat="x in g.years" value="{{x}}">{{x}}</option>
                </select>
                <button ng-click="load(d)" type="submit" class="btn btn-outline-primary mb-2 mr-sm-2" title="Filter"><i class="fas fa-filter"></i></button>
            </form>
        </div>
        <div class="col-sm-2 text-right">
            <button ng-show="!d.pdf && d.records.data.length>0 && !d.loading" class="btn btn-outline-danger" ng-disabled="d.loadingPdf==true" ng-click="print(d)">
                <loading-directive btntitle="'PDF'" loadingtitle="'Kreiranje PDF-a...'" value="d.loadingPdf" pdf="true"></loading-directive>
            </button>
            <a ng-if="d.pdf" href="{{d.pdf}}" class="btn btn-outline-success" download ng-click="removePdfLink()"><i class="fas fa-download"></i> Preuzmi PDF</a>
        </div>
    </div>
    <div ng-if="!d.loading" class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th></th>
                    <th>Br.</th>
                    <th style="width:190px">Datum</th>
                    <th style="width:200px">Mjesec</th>
                    <th>Opis</th>
                    <th class="text-right" style="width:200px">Iznos ({{config.currency}})</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-if="d.records.data.length>0" ng-repeat="x in d.records.data track by $index">
                    <td>
                        <button class="btn btn-outline-danger" ng-click="remove(x)" title="Briši"><i class="fas fa-trash-alt"></i> Briši</button>
                    </td>
                    <td>{{$index + 1}}.</td>
                    <td><input ng-model="x.recordDate" type="date" class="form-control" style="width:190px"></td>
                    <td>
                        <select ng-model="x.month" class="form-control mb-2 mr-sm-2">
                            <option ng-value="y.id" ng-repeat="y in g.months" ng-selected="x.month===Number(y.id)?true:false">{{y.title}}</option>
                        </select>
                    </td>
                    <td><input ng-model="x.note" class="form-control" /></td>
                    <td><input ng-model="x.amount" class="form-control text-right" allow-only-numbers /></td>
                    <td>
                        <button class="btn btn-outline-primary" ng-click="save(x, d, $index)" title="Spremi"><i class="fas fa-save"></i> Spremi</button>
                    </td>
                </tr>
                <tr>
                    <td colspan="7">
                        <button class="btn btn-outline-primary" ng-click="add(d.type)" title="Dodaj novi"><i class="fas fa-plus"></i> Novi Unos</button>
                    </td>
                </tr>
            </tbody>
            <tfoot class="thead-light">
                <tr class="text-right">
                    <th colspan="5">Ukupno:</th>
                    <th>
                        <span ng-if="d.type=='bankFee'">{{d.records.total.bankFee | number:2}}</span>
                        <span ng-if="d.type=='interest'">{{d.records.total.interest | number:2}}</span>
                        <span ng-if="d.type=='otherFee'">{{d.records.total.otherFee | number:2}}</span>
                    </th>
                    <th></th>
                </tr>
            </tfoot>
        </table>
    </div>
    <json-directive data="d" debug="config.debug"></json-directive>
</div>
