<div ng-controller="kontoCtrl">
    <div class="row">
        <div class="col-sm-8">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th></th>
                        <th style="width:200px">Kod.</th>
                        <th>Naziv</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-if="x.id!==null" ng-repeat="x in d track by $index">
                        <td><button class="btn btn-outline-danger" ng-click="remove(x.id, $index)"><i class="fas fa-minus"></i></button></td>
                        <td><input ng-model="x.code" class="form-control" /></td>
                        <td><input ng-model="x.title" class="form-control" /></td>
                        <td><button type="submit" class="btn btn-outline-primary" ng-click="save(x)"><i class="fas fa-save"></i> Spremi</button></td>
                    </tr>
                    <tr>
                        <td>
                            <button class="btn btn-outline-primary" ng-click="add()"><i class="fas fa-plus"></i></button>
                        </td>
                        <td colspan="3"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <json-directive data="d" debug="config.debug"></json-directive>
</div>