<div ng-controller="userCtrl">
    <div class="row">
        <div class="col-sm-10">
            <form class="form-inline">
                <div class="form-group">
                    <label for="user" class="mb-2 mr-sm-2">Korisnik:</label>
                    <select ng-model="d.user.id" class="form-control mb-2 mr-sm-2" name="user">
                        <option ng-repeat="x in d.users" value="{{x.id}}">{{x.id}} - {{x.lastName}} {{x.firstName}}</option>
                    </select>
                </div>
                <label for="year" class="mb-2 mr-sm-2"> / </label>
                <select ng-model="d.year" class="form-control mb-2 mr-sm-2">
                    <option ng-repeat="x in g.years" value="{{x}}">{{x}}</option>
                </select>
                <label for="year" class="mb-2 mr-sm-2"> g </label>
                <button ng-click="get('loancard', 'KUP', d.user.id, d.year)" type="submit" class="btn btn-outline-primary mb-2 mr-sm-2"><i class="fas fa-filter"></i> Filter</button>
            </form>
        </div>
        <div class="col-sm-2 text-right">
            <button ng-show="!d.pdf" class="btn btn-outline-danger" ng-disabled="d.loadingPdf==true" ng-click="print(d, 'LoanCard')">
                <loading-directive btntitle="'PDF'" loadingtitle="'Kreiranje PDF-a...'" value="d.loadingPdf" pdf="true"></loading-directive>
            </button>
            <a ng-if="d.pdf" href="{{d.pdf}}" class="btn btn-outline-success" download ng-click="removePdfLink()"><i class="fas fa-download"></i> Preuzmi PDF</a>
        </div>
    </div>
    <div ng-if="d.user.records.length>0" class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th></th>
                    <th class="text-center">Obustave</th>
                    <th>Iznos duga</th>
                </tr>
                <tr>
                    <th>Osnov za knjiženje</th>
                    <th>Otplata ({{config.currency}})</th>
                    <th>Saldo ({{config.currency}})</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-if="x.recordType=='repayment'" ng-repeat="x in d.user.records track by $index">
                    <td>{{x.month}}</td>
                    <td>{{x.amount | number:2}}</td>
                    <td>{{x.restToRepayment | number:2}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <json-directive data="d" debug="config.debug"></json-directive>
</div>