<div ng-controller="loansCtrl">
    <div class="row">
        <div class="col-sm-10">
            <form class="form-inline">
                <div class="form-group">
                    <label for="buissinesUnitCode" class="mb-2 mr-sm-2">Poslovna jedinica:</label>
                    <select ng-model="d.buisinessUnitCode" class="form-control mb-2 mr-sm-2" name="buissinesUnitCode">
                        <option ng-repeat="x in g.buisinessUnits" value="{{x.code}}">{{x.code}} - {{x.title}}</option>
                    </select>
                </div>
                <label for="month" class="mb-2 mr-sm-2">Mjesec:</label>
                <select ng-model="d.month" class="form-control mb-2 mr-sm-2">
                    <option ng-repeat="x in g.months" value="{{x.id}}">{{x.title}}</option>
                </select>
                <label for="year" class="mb-2 mr-sm-2"> / </label>
                <select ng-model="d.year" class="form-control mb-2 mr-sm-2">
                    <option ng-repeat="x in g.years" value="{{x}}">{{x}}</option>
                </select>
                <label class="mb-2 mr-sm-2"> g </label>
                <button ng-click="load(d)" type="submit" class="btn btn-outline-primary mb-2 mr-sm-2"><i class="fas fa-filter"></i> Filter</button>
            </form>
        </div>
        <div class="col-sm-2 text-right">
            <button ng-show="!d.pdf" class="btn btn-outline-danger" ng-disabled="d.loadingPdf" ng-click="print(d)">
                <loading-directive title="'PDF'" loadingTitle="'Kreiranje PDF-a...'" value="d.loadingPdf"></loading-directive>
            </button>
            <a ng-if="d.pdf" href="{{d.pdf}}" class="btn btn-outline-success" download ng-click="removePdfLink()"><i class="fas fa-download"></i> Preuzmi PDF</a>
        </div>
    </div>
    <div ng-if="d.loans.data.length>0" class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Mat. br.</th>
                    <th>Prezime</th>
                    <th>Ime</th>
                    <th class="text-right">Odobrena pozajmica ({{config.currency}})</th>
                    <th class="text-right">Manipulativni troškovi ({{config.currency}})</th>
                    <th class="text-right">Pozajmica ({{config.currency}})</th>
                    <th class="text-right">Neotplaćena pozajmica ({{config.currency}})</th>
                    <th class="text-right">Za isplatu ({{config.currency}})</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="x in d.loans.data track by $index">
                    <td>{{x.user.id}}</td>
                    <td>{{x.user.lastName}}</td>
                    <td>{{x.user.firstName}}</td>
                    <td class="text-right">{{x.loan | number:2}}</td>
                    <td class="text-right">{{x.manipulativeCosts | number:2}}</td>
                    <td class="text-right">{{x.actualLoan | number:2}}</td>
                    <td class="text-right">{{x.restToRepayment | number:2}}</td>
                    <td class="text-right">{{x.withdraw | number:2}}</td>
                </tr>
            </tbody>
            <tfoot ng-if="d.loans.data.length>0" class="thead-light">
                <tr class="text-right">
                    <th colspan="3">Ukupno:</th>
                    <th>{{d.loans.total.loan | number:2}}</th>
                    <th>{{d.loans.total.manipulativeCosts | number:2}}</th>
                    <th>{{d.loans.total.actualLoan | number:2}}</th>
                    <th>{{d.loans.total.restToRepayment | number:2}}</th>
                    <th>{{d.loans.total.withdraw | number:2}}</th>
                </tr>
            </tfoot>
        </table>
    </div>
    <pre ng-if="config.debug">{{d | json}}</pre>
</div>