<div ng-controller="loanCtrl">
    <div class="row">
        <div class="col-sm-10">
            <form class="form-inline">
                <div class="form-group">
                    <select ng-model="d.buisinessUnitCode" class="form-control mb-2 mr-sm-2" name="buissinesUnitCode" ng-change="load(d)">
                        <option value="" selected disabled>Poslovna jedinica</option>
                        <option ng-repeat="x in g.buisinessUnits" value="{{x.code}}">{{x.title}}</option>
                    </select>
                </div>
                <select ng-model="d.month" class="form-control mb-2 mr-sm-2" ng-change="load(d)">
                    <option value="" selected disabled>Mjesec</option>
                    <option ng-repeat="x in g.months" value="{{x.id}}">{{x.title}}</option>
                </select>
                <select ng-model="d.year" class="form-control mb-2 mr-sm-2" ng-change="load(d)">
                    <option value="" selected disabled>Godina</option>
                    <option ng-repeat="x in g.years" value="{{x}}">{{x}}</option>
                </select>
                <button ng-click="load(d)" type="submit" class="btn btn-outline-primary mb-2 mr-sm-2" title="Filter"><i class="fas fa-filter"></i></button>
            </form>
        </div>
        <div class="col-sm-2 text-right">
            <button ng-show="!d.pdf" class="btn btn-outline-danger" ng-disabled="d.loadingPdf" ng-click="printLoans(d)">
                <loading-directive title="'PDF'" loadingTitle="'Kreiranje PDF-a...'" value="d.loadingPdf"></loading-directive>
            </button>
            <a ng-if="d.pdf" href="{{d.pdf}}" class="btn btn-outline-success" download ng-click="removePdfLink()"><i class="fas fa-download"></i> Preuzmi PDF</a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <form>
                <div class="input-group mb-3">
                    <input ng-model="d.search" type="text" class="form-control" placeholder="Pretraži...">
                    <div class="input-group-append">
                        <button class="btn btn-outline-primary" type="submit" ng-click="search(d.search)"><i class="fa fa-search"></i></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div ng-if="d.records.data.length>0" class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Mat. br.</th>
                    <th>Prezime</th>
                    <th>Ime</th>
                    <th class="text-right">Pozajmica ({{config.currency}})</th>
                    <th class="text-right">Manipulativni troškovi ({{config.currency}})</th>
                    <!--<th class="text-right">Pozajmica ({{config.currency}})</th>-->
                    <th class="text-right">Neotplaćena pozajmica ({{config.currency}})</th>
                    <th class="text-right">Za isplatu ({{config.currency}})</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="x in d.records.data track by $index">
                    <td>{{x.user.id}}</td>
                    <td>{{x.user.lastName}}</td>
                    <td>{{x.user.firstName}}</td>
                    <td class="text-right">{{x.loan | number:2}}</td>
                    <td class="text-right">{{x.manipulativeCosts | number:2}}</td>
                    <!--<td class="text-right">{{x.actualLoan | number:2}}</td>-->
                    <td class="text-right">{{x.restToRepayment | number:2}}</td>
                    <td class="text-right">{{x.withdraw | number:2}}</td>
                    <td><button class="btn btn-outline-primary" title="Pozajmica" ng-click="get(x.id, null)"><i class="fas fa-info"></i></button></td>
                </tr>
            </tbody>
            <tfoot ng-if="d.records.data.length>0" class="thead-light">
                <tr class="text-right">
                    <th colspan="3">Ukupno:</th>
                    <th>{{d.records.total.loan | number:2}}</th>
                    <th>{{d.records.total.manipulativeCosts | number:2}}</th>
                    <!--<th>{{d.records.total.actualLoan | number:2}}</th>-->
                    <th>{{d.records.total.restToRepayment | number:2}}</th>
                    <th>{{d.records.total.withdraw | number:2}}</th>
                    <th></th>
                </tr>
            </tfoot>
        </table>
    </div>
    <pre ng-if="config.debug">{{d | json}}</pre>
</div>