<div class="container h-100">
    <div class="text-center m-5">
        <h1>{{config.apptitle}}</h1>
        <pre><small class="text-muted">Verzija {{config.version}}</small></pre>
    </div>
    <div class="row h-100 justify-content-center align-items-center">
        <div class="col-sm-4">
            <div class="card p-3">
                <div class="text-center">
                    <h2>Prijava</h2>
                </div>
                <form id="loginform">
                    <div class="form-group">
                        <label for="username">Korisničko ime:</label>
                        <input ng-model="d.admin.userName" type="text" class="form-control" name="username">
                    </div>
                    <div class="form-group">
                        <label for="pwd">Lozinka:</label>
                        <input ng-model="d.admin.password" type="password" class="form-control" name="password" placeholder="lozinka">
                    </div>
                    <div class="text-right">
                        <button type="submit" form="loginform" ng-click="login(d.admin)" class="btn btn-outline-primary"><span class="fa fa-unlock-altfa fa-key" aria-hidden="true"></span> <span class="text-capitalize">Prijava</span></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

