<div ng-controller="monthlyFeeCtrl">
    <div class="row">
        <div class="col-sm-10">
            <form class="form-inline">
                <div class="form-group">
                    <label for="buissinesUnitCode" class="mb-2 mr-sm-2">Poslovna jedinica:</label>
                    <select ng-model="d.buisinessUnitCode" class="form-control mb-2 mr-sm-2" name="buissinesUnitCode">
                        <option ng-repeat="x in g.buisinessUnits" value="{{x.code}}">{{x.code}} - {{x.title}}</option>
                    </select>
                </div>
                <label for="month" class="mb-2 mr-sm-2">Mjesec:</label>
                <select ng-model="d.month" class="form-control mb-2 mr-sm-2">
                    <option ng-repeat="x in g.months" value="{{x.id}}">{{x.title}}</option>
                </select>
                <label for="year" class="mb-2 mr-sm-2"> / </label>
                <select ng-model="d.year" class="form-control mb-2 mr-sm-2">
                    <option ng-repeat="x in g.years" value="{{x}}">{{x}}</option>
                </select>
                <label for="year" class="mb-2 mr-sm-2"> g </label>
                <button ng-click="getMonthlyRecords(d)" type="submit" class="btn btn-outline-primary mb-2 mr-sm-2"><i class="fas fa-filter"></i> Filter</button>
            </form>
        </div>
        <div class="col-sm-2 text-right">
            <button ng-show="!d.pdf" class="btn btn-outline-danger" ng-disabled="d.loadingPdf==true" ng-click="print(d)">
                <loading-directive title="'PDF'" loadingtitle="'Kreiranje PDF-a...'" value="d.loadingPdf"></loading-directive>
            </button>
            <a ng-if="d.pdf" href="{{d.pdf}}" class="btn btn-outline-success" download ng-click="removePdfLink()"><i class="fas fa-download"></i> Preuzmi PDF</a>
        </div>
    </div>
    <div>
        <div class="row">
            <div class="col-sm-4">
                <form>
                    <div class="input-group mb-3">
                        <input ng-model="d.search" type="text" class="form-control" placeholder="Pretraži...">
                        <div class="input-group-append">
                            <button class="btn btn-outline-primary" type="submit" ng-click="getMonthlyRecords(d)"><i class="fa fa-search"></i></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div ng-if="d.records.data.length>0" class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Mat. br.</th>
                        <th>Prezime i ime</th>
                        <th class="text-right">Ugovoreni ulog ({{config.currency}})</th>
                        <th class="text-right">Uplaćeno ({{config.currency}})</th>
                        <th>Napomena</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="x in d.records.data track by $index">
                        <td>{{x.user.id}}</td>
                        <td>{{x.user.lastName}} {{x.user.firstName}}</td>
                        <td class="text-right">{{x.user.monthlyFee | number:2}}<button class="btn btn-outline-primary ml-2" ng-click="setMonthlyFee(x, $index)"><i class="fa fa-arrow-circle-right"></i></button></td>
                        <td>
                            <input ng-model="x.monthlyFee" class="form-control text-right" allow-only-numbers />
                            <div ng-if="x.userPayment.length>0" ng-repeat="y in x.userPayment" class="small">
                                <label>Datum:</label>
                                <input ng-model="y.recordDate" class="form-control" />
                                <label>Iznos:</label>
                                <input ng-model="y.amount" class="form-control text-right" allow-only-numbers />
                                <label>Napomena:</label>
                                <input ng-model="y.note" class="form-control" />
                                <div class="pt-2 text-right">
                                    <button class="btn btn-outline-primary" ng-click="saveUserPayment(x, y, d, $index)" title="Spremi"><i class="fas fa-save"></i> Spremi</button>
                                </div>
                            </div>
                            <div class="text-right pt-2">
                                <button ng-if="x.monthlyFee>0" class="btn btn-outline-primary small" ng-click="add(x, $index)" title="Dodaj novu uplatu"><i class="fas fa-plus"></i> Dodaj novu uplatu</button>
                            </div>
                        </td>
                        <td><input ng-model="x.note" class="form-control" /></td>
                        <td><button class="btn btn-outline-primary" ng-click="save(x, d, $index)" title="Spremi"><i class="fas fa-save"></i> Spremi</button></td>
                </tbody>
                <tfoot ng-if="d.records.data.length>0" class="thead-light">
                    <tr class="text-right">
                        <th colspan="3">Ukupno:</th>
                        <th>{{d.records.total.repayment | number:2}}</th>
                        <th colspan="2"></th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
   
    <pre ng-if="config.debug">{{d | json}}</pre>
</div>
