<div ng-controller="monthlyPaymentCtrl">
    <div class="row">
        <div class="col-sm-10">
            <form class="form-inline">
                <select ng-model="d.month" class="form-control mb-2 mr-sm-2">
                    <option value="" selected disabled>Mjesec</option>
                    <option ng-repeat="x in g.months" value="{{x.id}}">{{x.title}}</option>
                </select>
                <select ng-model="d.year" class="form-control mb-2 mr-sm-2">
                    <option value="" selected disabled>Godina</option>
                    <option ng-repeat="x in g.years" value="{{x}}">{{x}}</option>
                </select>
                <button ng-click="load(d)" type="submit" class="btn btn-outline-primary mb-2 mr-sm-2" title="Filter"><i class="fas fa-filter"></i></button>
            </form>
        </div>
        <div class="col-sm-2 text-right">
            <button ng-show="!d.pdf" class="btn btn-outline-danger" ng-disabled="d.loadingPdf" ng-click="print(d)">
                <loading-directive btntitle="'PDF'" loadingTitle="'Kreiranje PDF-a...'" value="d.loadingPdf" pdf="true"></loading-directive>
            </button>
            <a ng-if="d.pdf" href="{{d.pdf}}" class="btn btn-outline-success" download ng-click="removePdfLink()"><i class="fas fa-download"></i> Preuzmi PDF</a>
        </div>
    </div>
    <loading-directive loadingtitle="'Učitavanje...'" value="d.loading" size="5"></loading-directive>
    <div ng-if="d.records.loans.data.length>0&&!d.loading" class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>Mat. br.</th>
                    <th>Korisnik</th>
                    <th class="text-right">Odobrena pozajmica ({{config.currency}})</th>
                    <th class="text-right">Manipulativni troškovi ({{config.currency}})</th>
                    <th class="text-right">Pozajmica ({{config.currency}})</th>
                    <th class="text-right">Neotplaćena pozajmica ({{config.currency}})</th>
                    <th class="text-right">Za isplatu ({{config.currency}})</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-if="d.records.loans.data.length>0" ng-repeat="x in d.records.loans.data | limitTo:d.limit track by $index">
                    <td>{{x.user.id}}</td>
                    <td>{{x.user.lastName}} {{x.user.firstName}}</td>
                    <td class="text-right">{{x.loan | number:2}}</td>
                    <td class="text-right">{{x.manipulativeCosts | number:2}}</td>
                    <td class="text-right">{{x.actualLoan | number:2}}</td>
                    <td class="text-right">{{x.lastLoanToRepaid | number:2}}</td>
                    <td class="text-right">{{x.withdraw | number:2}}</td>
                </tr>
                <tr ng-if="d.records.loans.data.length>0" class="thead-light text-right">
                    <th colspan="2">Ukupno:</th>
                    <th>{{d.records.loans.total.loan | number:2}}</th>
                    <th>{{d.records.loans.total.manipulativeCosts | number:2}}</th>
                    <th>{{d.records.loans.total.actualLoan | number:2}}</th>
                    <th>{{d.records.loans.total.lastLoanToRepaid | number:2}}</th>
                    <th>{{d.records.loans.total.withdraw | number:2}}</th>
                </tr>
                <tr style="height:50px">
                    <td colspan="7"></td>
                </tr>
                <tr ng-if="d.records.terminationWithdraw.length>0" class="bg-light">
                    <th></th>
                    <th>Isplata kod iščlanjenja:</th>
                    <th colspan="5"></th>
                </tr>
                <tr ng-if="d.records.terminationWithdraw.length>0" ng-repeat="x in d.records.terminationWithdraw track by $index">
                    <td></td>
                    <td>{{x.title}}</td>
                    <td class="text-right">{{x.val | number:2}}</td>
                    <td class="text-right"></td>
                    <td class="text-right">{{x.val | number:2}}</td>
                    <td class="text-right"></td>
                    <td class="text-right">{{x.val | number:2}}</td>
                </tr>
                <tr ng-if="d.records.bankFee.length>0" class="bg-light">
                    <th></th>
                    <th>Troškovi održavanja računa:</th>
                    <th colspan="5"></th>
                </tr>
                <tr ng-if="d.records.bankFee.length>0" ng-repeat="x in d.records.bankFee track by $index">
                    <td></td>
                    <td>{{x.title}}</td>
                    <td colspan="4"></td>
                    <td class="text-right">{{x.val | number:2}}</td>
                </tr>
                <tr ng-if="d.records.otherFee.length>0" class="bg-light">
                    <th></th>
                    <th>Razni materijalni troškovi:</th>
                    <th colspan="5"></th>
                </tr>
                <tr ng-if="d.records.otherFee.length>0" ng-repeat="x in d.records.otherFee track by $index">
                    <td></td>
                    <td>{{x.title}}</td>
                    <td colspan="4"></td>
                    <td class="text-right">{{x.val | number:2}}</td>
                </tr>
                <tr class="thead-light text-right">
                    <th colspan="6" class="text-right">Ukupno:</th>
                    <th>{{d.records.total | number:2}}</th>
                </tr>
        </table>
        <div ng-if="d.records.loans.data.length>=d.limit">
            <button ng-click="readMore(d.limit)" class="btn btn-outline-primary"><i class="fa fa-arrow-circle-down"></i> Prikaži više...</button>
        </div>
    </div>
    <json-directive data="d" debug="config.debug"></json-directive>
</div>