<div ng-controller="recapitulationCtrl">
    <div class="row">
        <div class="col-sm-10">
            <form class="form-inline">
                <select ng-model="d.year" class="form-control mb-2 mr-sm-2">
                    <option value="" selected disabled>Godina</option>
                    <option ng-repeat="x in g.years" value="{{x}}">{{x}}</option>
                </select>
                <button ng-click="load(d)" type="submit" class="btn btn-outline-primary mb-2 mr-sm-2" title="Filter"><i class="fas fa-filter"></i></button>
            </form>
        </div>
        <div class="col-sm-2 text-right">
            <button ng-show="!d.pdf && d.records.data.length>0 && !d.loading" class="btn btn-outline-danger" ng-disabled="d.loadingPdf" ng-click="print(d)">
                <loading-directive btntitle="'PDF'" loadingTitle="'Kreiranje PDF-a...'" value="d.loadingPdf" pdf="true"></loading-directive>
            </button>
            <a ng-if="d.pdf" href="{{d.pdf}}" class="btn btn-outline-success" download ng-click="removePdfLink()"><i class="fas fa-download"></i> Preuzmi PDF</a>
        </div>
    </div>
    <div ng-if="d.records.data.length>0&&!d.loading" >
        Konto: {{d.records.account.code}}
    </div>
    <loading-directive loadingtitle="'Učitavanje...'" value="d.loading" size="5"></loading-directive>
    <div ng-if="d.records.data.length>0&&!d.loading" class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>Datum</th>
                    <th>Mjesec</th>
                    <th>Opis</th>
                    <th class="text-right">Saldo</th>
                    <th class="text-right">Duguje ({{config.currency}})</th>
                    <th class="text-right">Potražuje ({{config.currency}})</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="x in d.records.data track by $index">
                    <td>{{x.total.date}}</td>
                    <td>{{x.month}}</td>
                    <td>{{x.total.note}}</td>
                    <!--<td ng-if="d.records.type=='giroaccount'"><span ng-if="x.total.accountBalance>0">{{x.total.accountBalance | number:2}}</span></td>-->
                    <td class="text-right"><span ng-if="x.total.accountBalance>0"><br /><em class="text-muted small">{{x.total.accountBalance | number:2}}</em></span></td>
                    <td class="text-right">{{x.total.output | number:2}}<span ng-if="x.total.outputAccumulation>0"><br /><em class="text-muted small">{{x.total.outputAccumulation | number:2}}</em></span></td>
                    <td class="text-right">{{x.total.input | number:2}}<span ng-if="x.total.inputAccumulation>0"><br /><em class="text-muted small">{{x.total.inputAccumulation | number:2}}</em></span></td>
                </tr>
            </tbody>
            <tfoot ng-if="d.records.data.length>0" class="thead-light">
                <tr class="text-right">
                    <th colspan="3">Ukupno:</th>
                    <th>{{d.records.total.accountBalance | number:2}}</th>
                    <th>{{d.records.total.output | number:2}}</th>
                    <th>{{d.records.total.input | number:2}}</th>
                </tr>
            </tfoot>
        </table>
    </div>
    <json-directive data="d" debug="config.debug"></json-directive>
</div>