<div ng-controller="loansCtrl">
    <div class="row">
        <div class="col-sm-10">
            <form class="form-inline">
                <select ng-model="d.year" class="form-control mb-2 mr-sm-2">
                    <option ng-repeat="x in g.years" value="{{x}}">{{x}}</option>
                </select>
                <label for="year" class="mb-2 mr-sm-2"> g </label>
                <button ng-click="load_recap(d)" type="submit" class="btn btn-outline-primary mb-2 mr-sm-2"><i class="fas fa-filter"></i> Filter</button>
            </form>
        </div>
        <div class="col-sm-2 text-right">
            <button ng-show="!d.pdf" class="btn btn-outline-danger" ng-disabled="d.loadingPdf" ng-click="print(d)">
                <loading-directive title="'PDF'" loadingTitle="'Kreiranje PDF-a...'" value="d.loadingPdf"></loading-directive>
            </button>
            <a ng-if="d.pdf" href="{{d.pdf}}" class="btn btn-outline-success" check-link download ng-click="removePdfLink()"><i class="fas fa-download"></i> Preuzmi PDF</a>
        </div>
    </div>
    <div ng-if="d.loans.data.length>0" class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Datum</th>
                    <th>Mjesec</th>
                    <th>Opis</th>
                    <th class="text-right">Duguje ({{config.currency}})</th>
                    <th class="text-right">Potražuje ({{config.currency}})</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="x in d.loans.monthlyTotal track by $index">
                    <td>TODO</td>
                    <td>{{x.month}}</td>
                    <td>Promet pozajmica {{x.month}}/{{d.year}}</td>
                    <td class="text-right">{{x.total.repayment | number:2}}</td>
                    <td class="text-right">{{x.total.actualLoan | number:2}}</td>
                </tr>
            </tbody>
            <tfoot ng-if="d.loans.data.length>0" class="thead-light">
                <tr class="text-right">
                    <th colspan="3">Ukupno:</th>
                    <th>{{d.loans.total.repayment | number:2}}</th>
                    <th>{{d.loans.total.actualLoan | number:2}}</th>
                </tr>
            </tfoot>
        </table>
    </div>
    <pre ng-if="config.debug">{{d | json}}</pre>
</div>
