<div ng-controller="repaymentCtrl">
    <div class="row">
        <div class="col-sm-10">
            <form class="form-inline">
                <div class="form-group">
                    <select ng-model="d.buisinessUnitCode" class="form-control mb-2 mr-sm-2" name="buissinesUnitCode">
                        <option value="" selected disabled>Poslovna jedinica</option>
                        <option ng-repeat="x in g.buisinessUnits" value="{{x.code}}">{{x.title}}</option>
                    </select>
                    <select ng-model="d.month" class="form-control mb-2 mr-sm-2">
                        <option value="" selected disabled>Mjesec</option>
                        <option ng-repeat="x in g.months" value="{{x.id}}">{{x.id}} | {{x.title}}</option>
                    </select>
                    <select ng-model="d.year" class="form-control mb-2 mr-sm-2">
                        <option value="" selected disabled>Godina</option>
                        <option ng-repeat="x in g.years" value="{{x}}">{{x}}</option>
                    </select>
                    <button ng-click="getMonthlyRecords(d)" type="submit" class="btn btn-outline-primary mb-2 mr-sm-2" title="Filter"><i class="fas fa-eye"></i></button>
                </div>
            </form>
        </div>
        <div class="col-sm-2 text-right">
            <button ng-show="!d.pdf" class="btn btn-outline-danger" ng-disabled="d.loadingPdf==true" ng-click="print(d)">
                <loading-directive btntitle="'PDF'" loadingtitle="'Kreiranje PDF-a...'" value="d.loadingPdf" pdf="true"></loading-directive>
            </button>
            <a ng-if="d.pdf" href="{{d.pdf}}" class="btn btn-outline-success" download ng-click="removePdfLink()"><i class="fas fa-download"></i> Preuzmi PDF</a>
        </div>
    </div>
    <div>
        <div ng-if="d.month!==null && d.year!==null" class="row">
            <div class="col-sm-3">
                <form>
                    <div class="input-group mb-3">
                        <input ng-model="d.search" type="text" class="form-control" placeholder="Pretraži...">
                        <div class="input-group-append">
                            <button class="btn btn-outline-primary" type="submit" ng-click="getMonthlyRecords(d)"><i class="fa fa-search"></i></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <loading-directive loadingtitle="'Učitavanje...'" value="d.loading" size="5"></loading-directive>
        <div ng-if="d.records.data.length>0&&!d.loading" class="table-responsive" style="height:70vh">
            <table class="table table-borderless">
                <thead>
                    <tr class="border-bottom">
                        <th>Mat. br.</th>
                        <th>Korisnik</th>
                        <th class="text-right">Ugovorena rata ({{config.currency}})</th>
                        <th class="text-right">Uplaćeno ({{config.currency}})</th>
                        <th></th>
                        <th class="text-right">Ostatak za otplatu ({{config.currency}})</th>
                        <th>Napomena</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="x in d.records.data | limitTo:d.limit track by $index" class="{{x.user.isActive==0?'text-muted small':''}}">
                        <td>{{x.user.id}}</td>
                        <td>{{x.user.lastName}} {{x.user.firstName}} <span ng-if="x.user.isActive==0"><em>(Neaktivan)</em></span></td>
                        <td class="text-right">{{x.repayment | number:2}}<button class="btn btn-outline-primary ml-2" ng-click="setRepayment(x, $index)"><i class="fa fa-arrow-circle-right"></i></button></td>
                        <td>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Obustava na plaći:</span>
                                </div>
                                <input ng-model="x.currRepayment" class="form-control text-right" allow-only-numbers />
                            </div>
                            <div ng-if="x.userPayment.length>0" ng-repeat="y in x.userPayment" class="card bg-light m-2 shadow">
                                <div class="card-header">
                                    <label>Uplata korisnika</label>
                                </div>
                                <div class="card-body">
                                    <label>Datum:</label>
                                    <input ng-model="y.recordDate" type="date" onkeydown="return false" class="form-control mb-2" />
                                    <label>Iznos:</label>
                                    <div class="input-group mb-2">
                                        <input ng-model="y.amount" class="form-control text-right" allow-only-numbers />
                                        <div class="input-group-append">
                                            <span class="input-group-text">{{config.currency}}</span>
                                        </div>
                                    </div>
                                    <label>Napomena:</label>
                                    <input ng-model="y.note" class="form-control mb-2" maxlength="50" />
                                    <div class="pt-2 text-right">
                                        <button ng-if="y.id!==null" class="btn btn-outline-danger" ng-click="removeUserPayment(y, d)" title="Briši"><i class="fas fa-trash-alt"></i> Briši</button>
                                        <button class="btn btn-outline-secondary" ng-click="saveUserPayment(x, y, d, $index)" title="Spremi"><i class="fas fa-save"></i> Spremi</button>
                                    </div>
                                </div>
                            </div>
                            <div class="pt-2">
                                <button class="btn btn-outline-primary" ng-click="add(x, $index)" title="Dodaj novu uplatu"><i class="fas fa-plus"></i> Uplata korisnika</button>
                            </div>
                        </td>
                        <td class="pl-0">
                            <button class="btn btn-outline-danger" ng-click="removeRecord(x, d, $index)" title="Briši uplatu"><i class="fa fa-times"></i></button>
                        </td>
                        <td class="text-right">{{x.restToRepayment | number:2}}</td>
                        <td><input ng-model="x.note" class="form-control" /></td>
                        <td class="text-right"><button ng-disabled="d.disabled" class="btn btn-outline-primary" ng-click="save(x, d, $index)" title="Spremi"><i class="fas fa-save"></i></button></td>
                </tbody>
                <tfoot ng-if="d.records.data.length>0" class="thead-light">
                    <tr class="text-right">
                        <th colspan="3">Ukupno:</th>
                        <th>
                            <div>
                                Obustave na plaći: {{d.records.total.currRepayment | number:2}}
                            </div>
                            <div>
                                Uplate korisnika: {{d.records.total.userRepayment | number:2}}
                            </div>
                            <hr />
                        {{d.records.total.repaymentTotal | number:2}}
                        </th>
                        <th>{{d.records.total.restToRepayment | number:2}}</th>
                        <th colspan="3"></th>
                    </tr>
                </tfoot>
            </table>
            <div ng-if="d.records.data.length>=d.limit">
                <button ng-click="readMore(d.limit)" class="btn btn-outline-primary"><i class="fa fa-arrow-circle-down"></i> Prikaži više...</button>
            </div>
        </div>
    </div>
    <json-directive data="d" debug="config.debug"></json-directive>
</div>
