<div ng-controller="settingsCtrl">
    <div class="row">
        <div class="col-sm-6 p-3">
            <div class="card shadow">
                <div class="card-body table-responsive">
                    <table class="table table-borderless">
                        <tr>
                            <td>Valuta:</td>
                            <td><input ng-model="d.currency" class="form-control text-right" /></td>
                        </tr>
                        <tr>
                            <td>Zadani mjesečni ulog:</td>
                            <td><input ng-model="d.monthlyFee" class="form-control text-right" allow-only-numbers /></td>
                        </tr>
                        <tr>
                            <td>Manipulativni troškovi (koeficjent):</td>
                            <td><input ng-model="d.manipulativeCostsCoeff" class="form-control text-right" allow-only-numbers /></td>
                        </tr>
                        <tr>
                            <td>Zadani rok otplate (mjeseci):</td>
                            <td><input ng-model="d.defaultDedline" class="form-control text-right" allow-only-numbers /></td>
                        </tr>
                        <tr>
                            <td colspan="2" class="text-right">
                                <button type="submit" class="btn btn-outline-primary" ng-click="save(d)"><i class="fa fa-save"></i> Spremi</button>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 p-3">
            <div class="card shadow">
                <div class="card-header">Konto</div>
                <div class="card-body table-responsive">
                    <table class="table table-borderless">
                        <tr>
                            <td>Novac na računu kod tuzemnih poslovnih banaka:</td>
                            <td><input ng-model="d.account.giroAccount" class="form-control text-right" /></td>
                        </tr>
                        <tr>
                            <td>Potraživanja od članova za dane pozajmice:</td>
                            <td><input ng-model="d.account.loan" class="form-control text-right" /></td>
                        </tr>
                        <tr>
                            <td>Obveze za članske uloge članova:</td>
                            <td><input ng-model="d.account.monthlyFee" class="form-control text-right" /></td>
                        </tr>
                        <tr>
                            <td>Ostali prihodi od financijske imovine - manipulativni troškovi:</td>
                            <td><input ng-model="d.account.manipulativeCosts" class="form-control text-right" /></td>
                        </tr>
                        <tr>
                            <td>Bankarske usluge i usluge platnog prometa:</td>
                            <td><input ng-model="d.account.bankFee" class="form-control text-right" /></td>
                        </tr>
                        <tr>
                            <td>Kamata na oročena sredstva i depozite po viđenju:</td>
                            <td><input ng-model="d.account.interest" class="form-control text-right" /></td>
                        </tr>
                        <tr>
                            <td>Intelektualne i osobne usluge:</td>
                            <td><input ng-model="d.account.otherFee" class="form-control text-right" /></td>
                        </tr>
                        <tr>
                            <td>Višak prihoda:</td>
                            <td><input ng-model="d.account.income" class="form-control text-right" /></td>
                        </tr>
                        <tr>
                            <td>Rashodi:</td>
                            <td><input ng-model="d.account.expense" class="form-control text-right" /></td>
                        </tr>
                        <tr>
                            <td>Obračun prihoda i rashoda:</td>
                            <td><input ng-model="d.account.incomeExpenseDiff" class="form-control text-right" /></td>
                        </tr>
                        <tr>
                            <td>Ulaganja u računalne programe:</td>
                            <td><input ng-model="d.account.softwareInvestment" class="form-control text-right" /></td>
                        </tr>
                        <tr>
                            <td>Amortizacija:</td>
                            <td><input ng-model="d.account.amortization" class="form-control text-right" /></td>
                        </tr>
                        <tr>
                            <td>Ispravak vrijednosti proizvoda dugotrajne imovine:</td>
                            <td><input ng-model="d.account.correction" class="form-control text-right" /></td>
                        </tr>
                        <tr>
                            <td colspan="2" class="text-right">
                                <button type="submit" class="btn btn-outline-primary" ng-click="save(d)"><i class="fa fa-save"></i> Spremi</button>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 p-3">
            <div class="card shadow">
                <div class="card-header">Početno stanje</div>
                <div class="card-body table-responsive">
                    <label>Žiro račun</label>
                    <hr />
                    <table class="table table-borderless">
                        <tr>
                            <td>Dugovni promet:</td>
                            <td><input ng-model="d.startBalance.giroAccountInput" class="form-control text-right" /></td>
                        </tr>
                        <tr>
                            <td>Potražni promet:</td>
                            <td><input ng-model="d.startBalance.giroAccountOutput" class="form-control text-right" /></td>
                        </tr>
                        <tr>
                            <td>Stanje na dan:</td>
                            <td><input ng-model="d.startBalance.date" class="form-control text-right" /></td>
                        </tr>
                        <tr>
                            <td colspan="2" class="text-right">
                                <button type="submit" class="btn btn-outline-primary" ng-click="save(d)"><i class="fa fa-save"></i> Spremi</button>
                            </td>
                        </tr>
                    </table>
                    <hr />
                    <table class="table table-borderless">
                        <tr>
                            <td>Prihodi:</td>
                            <td><input ng-model="d.startBalance1.income" class="form-control text-right" /></td>
                        </tr>
                        <tr>
                            <td>Rashodi:</td>
                            <td><input ng-model="d.startBalance1.expense" class="form-control text-right" /></td>
                        </tr>
                        <tr>
                            <td>Stanje na dan:</td>
                            <td><input ng-model="d.startBalance1.date" class="form-control text-right" /></td>
                        </tr>
                        <tr>
                            <td colspan="2" class="text-right">
                                <button type="submit" class="btn btn-outline-primary" ng-click="save(d)"><i class="fa fa-save"></i> Spremi</button>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 p-3">
            <div class="card shadow">
                <div class="card-header">Postavke ispisa</div>
                <div class="card-body table-responsive">
                    <table class="table table-borderless">
                        <tr>
                            <td>Tekst zaglavlja:</td>
                            <td><textarea ng-model="d.printSettings.headerInfo" class="form-control" rows="3"></textarea>
                        </tr>
                        <tr>
                            <td>Orijentacija ispisa:</td>
                            <td>
                                <select ng-model="d.printSettings.orientation" class="form-control">
                                    <option value="h">Horizontalno</option>
                                    <option value="v">Vertikalno</option>
                                </select>
                            </td>
                        </tr>
                        <!--<tr>
                            <td>Acrobat reader:<br />
                                <em class="text-info">* Lokacija AcroRd32.exe</em>
                            </td>
                            <td><input ng-model="d.acrobatReaderDir" class="form-control" /></td>
                        </tr>-->
                        <tr>
                            <td colspan="2" class="text-right">
                                <button type="submit" class="btn btn-outline-primary" ng-click="save(d)"><i class="fa fa-save"></i> Spremi</button>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!--<div class="row">
        <div class="col-sm-6 p-3">
            <div class="card shadow">
                <div class="card-header">Ostale postavke</div>
                <div class="card-body table-responsive">
                    <table class="table table-borderless">
                        <tr>
                            <td>Backup Folder:</td>
                            <td><input ng-model="d.backupFolder" class="form-control" /></td>
                        </tr>
                        <tr>
                            <td colspan="2" class="text-right">
                                <button type="submit" class="btn btn-outline-primary" ng-click="save(d)"><i class="fa fa-save"></i> Spremi</button>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>-->
    <json-directive data="d" debug="config.debug"></json-directive>
</div>