<div id="sidebar-container" class="sidebar-expanded d-none d-md-block">
    <ul class="list-group">
        <li data-toggle="collapse" aria-expanded="false" class="bg-dark list-group-item list-group-item-action flex-column align-items-start">
            <a class="d-flex w-100 justify-content-start align-items-center" ng-click="toggleTpl('dashboard', config.apptitle)">
                <span class="fas fa-home fa-fw mr-3"></span>
                <span class="menu-collapsed">Naslovna</span>
            </a>
        </li>

        <li class="list-group-item sidebar-separator-title text-muted d-flex align-items-center menu-collapsed">
            <small>KORISNICI</small>
        </li>
        <li data-toggle="collapse" aria-expanded="false" class="bg-dark list-group-item list-group-item-action flex-column align-items-start">
            <a class="d-flex w-100 justify-content-start align-items-center" ng-click="toggleTpl('user', 'Novi Korisnik')">
                <span class="fa fa-user-plus fa-fw mr-3"></span>
                <span class="menu-collapsed">Novi Korisnik</span>
                <!--<span class="submenu-icon ml-auto"></span>-->
            </a>
        </li>
        <li data-toggle="collapse" aria-expanded="false" class="bg-dark list-group-item list-group-item-action flex-column align-items-start">
            <a class="d-flex w-100 justify-content-start align-items-center" ng-click="toggleTpl('users', 'Korisnici')">
                <span class="fa fa-users fa-fw mr-3"></span>
                <span class="menu-collapsed">Popis Korisnika</span>
                <!--<span class="submenu-icon ml-auto"></span>-->
            </a>
        </li>
        <li class="list-group-item sidebar-separator-title text-muted d-flex align-items-center menu-collapsed">
            <small>POZAJMICE</small>
        </li>
        <li href="#" class="bg-dark list-group-item list-group-item-action">
            <a class="d-flex w-100 justify-content-start align-items-center" ng-click="toggleTpl('loan', 'Nova Pozajmica')">
                <span class="fa fa-hand-holding-usd fa-fw mr-3"></span>
                <span class="menu-collapsed">Nova Pozajmica</span>
            </a>
        </li>
        <li href="#" class="bg-dark list-group-item list-group-item-action">
            <a class="d-flex w-100 justify-content-start align-items-center" ng-click="toggleTpl('loans', 'Nova Pozajmice')">
                <span class="fa fa-list fa-fw mr-3"></span>
                <span class="menu-collapsed">Pozajmice</span>
            </a>
        </li>
        <li data-toggle="collapse" aria-expanded="false" class="bg-dark list-group-item list-group-item-action flex-column align-items-start">
            <a class="d-flex w-100 justify-content-start align-items-center" ng-click="toggleTpl('account', 'Promet')">
                <span class="fa fa-coins fa-fw mr-3"></span>
                <span class="menu-collapsed">Promet</span>
                <!--<span class="submenu-icon ml-auto"></span>-->
            </a>
        </li>
        <!--<li class="list-group-item sidebar-separator-title text-muted d-flex align-items-center menu-collapsed">
            <small>REKAPITULACIJA</small>
        </li>
        <li href="#" class="bg-dark list-group-item list-group-item-action">
            <a class="d-flex w-100 justify-content-start align-items-center">
                <span class="fa fa-calendar fa-fw mr-3"></span>
                <span class="menu-collapsed">Mjesečni Izvještaji</span>
            </a>
        </li>
        <li href="#" class="bg-dark list-group-item list-group-item-action">
            <a class="d-flex w-100 justify-content-start align-items-center">
                <span class="fa fa-calendar fa-fw mr-3"></span>
                <span class="menu-collapsed">Godišni Izvještaji</span>
            </a>
        </li>-->
        <li class="list-group-item sidebar-separator-title text-muted d-flex align-items-center menu-collapsed">
        </li>
        <li href="#submenu1" data-toggle="collapse" aria-expanded="false" class="bg-dark list-group-item list-group-item-action flex-column align-items-start">
            <a class="d-flex w-100 justify-content-start align-items-center">
                <span class="fa fa-cogs fa-fw mr-3"></span>
                <span class="menu-collapsed">Postavke</span>
            </a>
        </li>
        <li id='submenu1' class="collapse sidebar-submenu">
            <a href="#" class="list-group-item list-group-item-action bg-dark text-white" ng-click="toggleTpl('buisinessunit', 'Poslovne jedinice')">
                <span class="fa fa-building fa-fw mr-3"></span>
                <span class="menu-collapsed">Poslovne jedinice</span>
            </a>
        </li>
    </ul>
</div>