<div id="sidebar-container" class="sidebar-expanded d-none d-md-block">
    <ul class="list-group">
        <link-directive src="'newuser'" title="'Naslovna'" ico="'home'" ng-click="toggleTpl('dashboard', config.apptitle)"></link-directive>
        <link-directive src="null" title="'KORISNICI'" ico="null"></link-directive>
        <link-directive src="'newuser'" title="'Novi Korisnik'" ico="'user-plus'" ng-click="toggleTpl('newuser', 'Novi Korisnik')"></link-directive>
        <link-directive src="'users'" title="'Korisnici'" ico="'users'" ng-click="toggleTpl('users', 'Korisnici')"></link-directive>
        <link-directive src="'card'" title="'Kartica Korisnika'" ico="'id-card'" ng-click="toggleTpl('card', 'Kartica Korisnika')"></link-directive>
        <link-directive src="null" title="'POZAJMICE'" ico="null"></link-directive>
        <link-directive src="'loan'" title="'Nova Pozajmica'" ico="'hand-holding-usd'" ng-click="toggleTpl('loan', 'Nova Pozajmica')"></link-directive>
        <link-directive src="'repayment'" title="'Otplata Pozajmice'" ico="'list'" ng-click="toggleTpl('repayment', 'Otplata Pozajmice')"></link-directive>
        <link-directive src="null" title="'MJESEČNI PROMET'" ico="null"></link-directive>
        <link-directive src="'loan'" title="'Mjesečni Ulog'" ico="'coins'" ng-click="toggleTpl('monthlyfee', 'Mjesečni Ulog')"></link-directive>
        <link-directive src="'loans'" title="'Pozajmice'" ico="'list'" ng-click="toggleTpl('loans', 'Pozajmice')"></link-directive>
        <link-directive src="'entry'" title="'Ostale Uplate / Isplate'" ico="'file-invoice-dollar'" ng-click="toggleTpl('otherfee', 'Ostale Uplate / Isplate')"></link-directive>
        <!--<link-directive src="'loan'" title="'Promet'" ico="'coins'" ng-click="toggleTpl('account', 'Promet')"></link-directive>-->
        <link-directive src="'suspension'" title="'Obustave Na Plaći'" ico="'hand-paper'" ng-click="toggleTpl('suspension', 'Obustave Na Plaći')"></link-directive>
        <link-directive src="'entry'" title="'Temeljnica'" ico="'file-alt'" ng-click="toggleTpl('entry', 'Temeljnica')"></link-directive>
        <link-directive src="null" title="null" ico="null"></link-directive>
        <link-directive href="'#submenu1'" src="'entry'" title="'Rekapitulacija'" ico="'calculator'"></link-directive>
        <li id='submenu1' class="collapse sidebar-submenu">
            <a href="#" class="list-group-item list-group-item-action bg-dark text-white" ng-click="toggleTpl('recapitulation', 'Pozajmice', 'loan')">
                <span class="fa fa-bars fa-fw mr-3"></span>
                <span class="menu-collapsed">Pozajmice</span>
            </a>
        </li>
        <li id='submenu1' class="collapse sidebar-submenu">
            <a href="#" class="list-group-item list-group-item-action bg-dark text-white" ng-click="toggleTpl('recapitulation', 'Ulozi', 'monthleyFee')">
                <span class="fa fa-bars fa-fw mr-3"></span>
                <span class="menu-collapsed">Ulozi</span>
            </a>
        </li>
        <li id='submenu1' class="collapse sidebar-submenu">
            <a href="#" class="list-group-item list-group-item-action bg-dark text-white" ng-click="toggleTpl('recapitulation', 'Manipulativni troškovi', 'manipulativeCosts')">
                <span class="fa fa-bars fa-fw mr-3"></span>
                <span class="menu-collapsed">Manipulativni troškovi</span>
            </a>
        </li>
        <li id='submenu1' class="collapse sidebar-submenu">
            <a href="#" class="list-group-item list-group-item-action bg-dark text-white" ng-click="toggleTpl('recapitulation', 'Troškovi održavanja računa', 'bankFee')">
                <span class="fa fa-bars fa-fw mr-3"></span>
                <span class="menu-collapsed">Troškovi održavanja računa</span>
            </a>
        </li>
        <li id='submenu1' class="collapse sidebar-submenu">
            <a href="#" class="list-group-item list-group-item-action bg-dark text-white" ng-click="toggleTpl('recapitulation', 'Kamata po štednji', 'otherFee')">
                <span class="fa fa-bars fa-fw mr-3"></span>
                <span class="menu-collapsed">Kamata po štednji</span>
            </a>
        </li>
        <li id='submenu1' class="collapse sidebar-submenu">
            <a href="#" class="list-group-item list-group-item-action bg-dark text-white" ng-click="toggleTpl('recapitulation', 'Razni materijalni troškovi', 'bankFee')">
                <span class="fa fa-bars fa-fw mr-3"></span>
                <span class="menu-collapsed">Razni materijalni troškovi</span>
            </a>
        </li>
        <link-directive href="'#submenu2'" src="'entry'" title="'Postavke'" ico="'cogs'"></link-directive>
        <li id='submenu2' class="collapse sidebar-submenu">
            <a href="#" class="list-group-item list-group-item-action bg-dark text-white" ng-click="toggleTpl('buisinessunit', 'Poslovne jedinice')">
                <span class="fa fa-building fa-fw mr-3"></span>
                <span class="menu-collapsed">Poslovne jedinice</span>
            </a>
        </li>
        <li ng-if="config.showadminpage" id='submenu2' class="collapse sidebar-submenu">
            <a href="#" class="list-group-item list-group-item-action bg-dark text-white" ng-click="toggleTpl('admin', 'Admin')">
                <span class="fa fa-user-lock fa-fw mr-3"></span>
                <span class="menu-collapsed">Admin</span>
            </a>
        </li>
    </ul>
</div>