<div ng-controller="suspensionCtrl">
    <div class="row">
        <div class="col-sm-10">
            <form class="form-inline">
                <div class="form-group">
                    <select ng-model="d.buisinessUnitCode" class="form-control mb-2 mr-sm-2" name="buissinesUnitCode" ng-change="getMonthlyRecords(d)">
                        <option value="" selected disabled>Poslovna jedinica</option>
                        <option ng-repeat="x in g.buisinessUnits" value="{{x.code}}">{{x.title}}</option>
                    </select>
                    <select ng-model="d.month" class="form-control mb-2 mr-sm-2" ng-change="getMonthlyRecords(d)">
                        <option value="" selected disabled>Mjesec</option>
                        <option ng-value="x.id" ng-selected="x.id==d.month?true:false" ng-repeat="x in g.months">{{x.title}}</option>
                    </select>
                    <select ng-model="d.year" class="form-control mb-2 mr-sm-2" ng-change="getMonthlyRecords(d)">
                        <option value="" selected disabled>Godina</option>
                        <option ng-value="x" ng-selected="x==d.year?true:false" ng-repeat="x in g.years">{{x}}</option>
                    </select>
                    <button ng-click="getMonthlyRecords(d)" type="submit" class="btn btn-outline-primary mb-2 mr-sm-2" title="Filter"><i class="fas fa-filter"></i></button>
                </div>
            </form>
        </div>
        <div class="col-sm-2 text-right">
            <button ng-show="!d.pdf" class="btn btn-outline-danger" ng-disabled="d.loadingPdf==true" ng-click="print(d)">
                <loading-directive title="'PDF'" loadingtitle="'Kreiranje PDF-a...'" value="d.loadingPdf" pdf="true"></loading-directive>
            </button>
            <a ng-if="d.pdf" href="{{d.pdf}}" class="btn btn-outline-success" download ng-click="removePdfLink()"><i class="fas fa-download"></i> Preuzmi PDF</a>
        </div>
    </div>
    <div ng-if="d.records.data.length>0">
        <div ng-if="d.buisinessUnitCode!==null && d.buisinessUnitCode!==''">
            <em class="small">* Obustava na plaći različita od prethodnog mjeseca</em>
        </div>
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th><span ng-hide="d.buisinessUnitCode==null || d.buisinessUnitCode==''">Mat. br.</span></th>
                        <th>
                            <span ng-show="d.buisinessUnitCode!=null && d.buisinessUnitCode!=''">Prezime i ime</span>
                        </th>
                        <th class="text-right">Ulog ({{config.currency}})</th>
                        <th class="text-right">Rata ({{config.currency}})</th>
                        <th class="text-right">Ukupno ({{config.currency}})</th>
                    </tr>
                </thead>
                <tbody ng-hide="d.buisinessUnitCode==null || d.buisinessUnitCode==''">
                    <tr ng-repeat="x in d.records.data track by $index" class="{{x.totalObligation !== x.lastMonthObligation ? 'font-weight-bold' : ''}}">
                        <td><span ng-show="x.totalObligation !== x.lastMonthObligation">* </span>{{x.user.id}}</td>
                        <td>{{x.user.lastName}} {{x.user.firstName}}</td>
                        <td class="text-right">{{x.monthlyFee | number:2}}</td>
                        <td class="text-right">{{x.repayment | number:2}}</td>
                        <td class="text-right">{{x.totalObligation | number:2}}</td>
                    </tr>
                </tbody>
                <tfoot ng-if="d.records.data.length>0" class="thead-light">
                    <tr class="text-right">
                        <th colspan="2">
                            <span ng-show="d.buisinessUnitCode==null || d.buisinessUnitCode==''">JANAF - ukupno obustave:</span>
                            <span ng-show="d.buisinessUnitCode!=null && d.buisinessUnitCode!=''">Ukupno:</span>
                        </th>
                        <th>{{d.records.total.monthlyFee | number:2}}</th>
                        <th>{{d.records.total.repayment | number:2}}</th>
                        <th>{{d.records.total.totalObligation | number:2}}</th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
   
    <pre ng-if="config.debug">{{d | json}}</pre>
</div>
