USE [DB_9B2F52_kupjanaf]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 23.12.2019. 14:17:17 ******/
DROP TABLE [dbo].[Users]
GO
/****** Object:  Table [dbo].[Loan]    Script Date: 23.12.2019. 14:17:17 ******/
DROP TABLE [dbo].[Loan]
GO
/****** Object:  Table [dbo].[BuisinessUnit]    Script Date: 23.12.2019. 14:17:17 ******/
DROP TABLE [dbo].[BuisinessUnit]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 23.12.2019. 14:17:17 ******/
DROP TABLE [dbo].[Account]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 23.12.2019. 14:17:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[id] [nvarchar](50) NOT NULL,
	[userId] [nvarchar](50) NULL,
	[amount] [nvarchar](50) NULL,
	[recordDate] [nvarchar](50) NULL,
	[mo] [int] NULL,
	[yr] [int] NULL,
	[recordType] [nvarchar](50) NULL,
	[loanId] [nvarchar](50) NULL,
	[note] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[BuisinessUnit]    Script Date: 23.12.2019. 14:17:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BuisinessUnit](
	[id] [nvarchar](50) NULL,
	[code] [nvarchar](50) NOT NULL,
	[title] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Loan]    Script Date: 23.12.2019. 14:17:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Loan](
	[id] [nvarchar](50) NOT NULL,
	[userId] [nvarchar](50) NULL,
	[loan] [nvarchar](50) NULL,
	[loanDate] [nvarchar](50) NULL,
	[repayment] [nvarchar](50) NULL,
	[manipulativeCosts] [nvarchar](50) NULL,
	[withdraw] [nvarchar](50) NULL,
	[dedline] [nvarchar](50) NULL,
	[isRepaid] [int] NULL,
	[note] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Users]    Script Date: 23.12.2019. 14:17:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[id] [nvarchar](50) NOT NULL,
	[buisinessUnitCode] [nvarchar](50) NULL,
	[firstName] [nvarchar](50) NULL,
	[lastName] [nvarchar](50) NULL,
	[pin] [nvarchar](50) NULL,
	[birthDate] [nvarchar](50) NULL,
	[accessDate] [nvarchar](50) NULL,
	[terminationDate] [nvarchar](50) NULL,
	[isActive] [int] NULL,
	[monthlyFee] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[Account] ([id], [userId], [amount], [recordDate], [mo], [yr], [recordType], [loanId], [note]) VALUES (N'00910082-fdb9-4e92-85cb-dce0e7a459c3', N'829', N'2500', N'2019-11-13', 10, 2019, N'repayment', N'cc79b043-aba7-4999-8a6b-1ba74c0049d0', N'OD 10')
INSERT [dbo].[Account] ([id], [userId], [amount], [recordDate], [mo], [yr], [recordType], [loanId], [note]) VALUES (N'00a5e334-6567-43c6-b95d-d655cee32875', N'907', N'11000', N'2019-09-30', 9, 2019, N'monthlyFee', N'', N'PS_30.09.2019')
INSERT [dbo].[Account] ([id], [userId], [amount], [recordDate], [mo], [yr], [recordType], [loanId], [note]) VALUES (N'00c442c2-ebcb-4bd3-a833-9cb8fca84aef', N'862', N'100', N'2019-12-23', 11, 2019, N'monthlyFee', N'', N'OD 11')
GO
INSERT [dbo].[BuisinessUnit] ([id], [code], [title]) VALUES (N'2c22da89-2ca8-4d6b-a6ee-1e520d08d654', N'I', N'Omišalj')
INSERT [dbo].[BuisinessUnit] ([id], [code], [title]) VALUES (N'cc83f101-e278-4acc-a939-bbc465cbdf93', N'III', N'Sisak')
INSERT [dbo].[BuisinessUnit] ([id], [code], [title]) VALUES (N'1795f73e-83e6-4a79-a92f-83b87c41e89b', N'R', N'Rijeka')
INSERT [dbo].[Loan] ([id], [userId], [loan], [loanDate], [repayment], [manipulativeCosts], [withdraw], [dedline], [isRepaid], [note]) VALUES (N'0308bc61-bff4-4775-be83-98ca7e0aa170', N'836', N'20000', N'2019-09-30', N'1000', N'400', N'19600', N'15', 0, N'PS_30.09.2019')
INSERT [dbo].[Loan] ([id], [userId], [loan], [loanDate], [repayment], [manipulativeCosts], [withdraw], [dedline], [isRepaid], [note]) VALUES (N'06ce099e-71e8-4f8f-91d1-eceea4615004', N'856', N'16200', N'2019-09-30', N'850', N'324', N'15876', N'6', 0, N'PS_30.09.2019')
INSERT [dbo].[Loan] ([id], [userId], [loan], [loanDate], [repayment], [manipulativeCosts], [withdraw], [dedline], [isRepaid], [note]) VALUES (N'0b393e4a-2cbf-4848-bd59-22ee31e9ee0b', N'764', N'12000', N'2019-09-30', N'750', N'240', N'11760', N'7', 0, N'PS_30.09.2019')
GO
INSERT [dbo].[Users] ([id], [buisinessUnitCode], [firstName], [lastName], [pin], [birthDate], [accessDate], [terminationDate], [isActive], [monthlyFee]) VALUES (N'1000', N'I', N'IGOR', N'SKOČILIĆ', N'91076450960', N'1973-09-24', N'2018-03-20', N'', 1, N'100')
INSERT [dbo].[Users] ([id], [buisinessUnitCode], [firstName], [lastName], [pin], [birthDate], [accessDate], [terminationDate], [isActive], [monthlyFee]) VALUES (N'204', N'R', N'GORDANA', N'VRANIĆ', N'68706854348', N'1958-02-06', N'2015-01-23', N'', 1, N'100')
INSERT [dbo].[Users] ([id], [buisinessUnitCode], [firstName], [lastName], [pin], [birthDate], [accessDate], [terminationDate], [isActive], [monthlyFee]) VALUES (N'215', N'I', N'JADRANKO', N'HRASTINA', N'21704972744', N'1957-01-08', N'2015-01-23', N'', 1, N'100')
GO
