USE [DB_9B2F52_kupjanaf]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 2.10.2020. 14:40:45 ******/
DROP TABLE [dbo].[Users]
GO
/****** Object:  Table [dbo].[Loan]    Script Date: 2.10.2020. 14:40:45 ******/
DROP TABLE [dbo].[Loan]
GO
/****** Object:  Table [dbo].[BuisinessUnit]    Script Date: 2.10.2020. 14:40:45 ******/
DROP TABLE [dbo].[BuisinessUnit]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 2.10.2020. 14:40:45 ******/
DROP TABLE [dbo].[Account]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 2.10.2020. 14:40:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[id] [nvarchar](50) NOT NULL,
	[userId] [nvarchar](50) NULL,
	[amount] [nvarchar](50) NULL,
	[recordDate] [nvarchar](50) NULL,
	[mo] [int] NULL,
	[yr] [int] NULL,
	[recordType] [nvarchar](50) NULL,
	[loanId] [nvarchar](50) NULL,
	[note] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[BuisinessUnit]    Script Date: 2.10.2020. 14:40:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BuisinessUnit](
	[id] [nvarchar](50) NULL,
	[code] [nvarchar](50) NOT NULL,
	[title] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Loan]    Script Date: 2.10.2020. 14:40:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Loan](
	[id] [nvarchar](50) NOT NULL,
	[userId] [nvarchar](50) NULL,
	[loan] [nvarchar](50) NULL,
	[loanDate] [nvarchar](50) NULL,
	[repayment] [nvarchar](50) NULL,
	[manipulativeCosts] [nvarchar](50) NULL,
	[withdraw] [nvarchar](50) NULL,
	[dedline] [nvarchar](50) NULL,
	[isRepaid] [int] NULL,
	[note] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Users]    Script Date: 2.10.2020. 14:40:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[id] [nvarchar](50) NOT NULL,
	[buisinessUnitCode] [nvarchar](50) NULL,
	[firstName] [nvarchar](50) NULL,
	[lastName] [nvarchar](50) NULL,
	[pin] [nvarchar](50) NULL,
	[birthDate] [nvarchar](50) NULL,
	[accessDate] [nvarchar](50) NULL,
	[terminationDate] [nvarchar](50) NULL,
	[isActive] [int] NULL,
	[monthlyFee] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[Account] ([id], [userId], [amount], [recordDate], [mo], [yr], [recordType], [loanId], [note]) VALUES (N'00010e3b-9ed1-4add-b309-b1cf49da12e7', N'611', N'200', N'2020-01-10', 12, 2019, N'monthlyFee', N'', N'OD 12')
INSERT [dbo].[Account] ([id], [userId], [amount], [recordDate], [mo], [yr], [recordType], [loanId], [note]) VALUES (N'00055896-fca3-410c-a57e-260ad5cdea8d', N'667', N'100', N'2020-08-17', 7, 2020, N'monthlyFee', N'', N'OD 07')
INSERT [dbo].[Account] ([id], [userId], [amount], [recordDate], [mo], [yr], [recordType], [loanId], [note]) VALUES (N'001f80be-8f24-4dcc-a842-04a108572dc8', N'659', N'100', N'2020-03-05', 2, 2020, N'monthlyFee', N'', N'OD 02')
GO
INSERT [dbo].[BuisinessUnit] ([id], [code], [title]) VALUES (N'2c22da89-2ca8-4d6b-a6ee-1e520d08d654', N'I', N'Omišalj')
INSERT [dbo].[BuisinessUnit] ([id], [code], [title]) VALUES (N'cc83f101-e278-4acc-a939-bbc465cbdf93', N'III', N'Sisak')
INSERT [dbo].[BuisinessUnit] ([id], [code], [title]) VALUES (N'1795f73e-83e6-4a79-a92f-83b87c41e89b', N'R', N'Rijeka')
INSERT [dbo].[Loan] ([id], [userId], [loan], [loanDate], [repayment], [manipulativeCosts], [withdraw], [dedline], [isRepaid], [note]) VALUES (N'0308bc61-bff4-4775-be83-98ca7e0aa170', N'836', N'20000', N'2019-09-30', N'1000', N'400', N'19600', N'15', 0, N'PS_30.09.2019')
INSERT [dbo].[Loan] ([id], [userId], [loan], [loanDate], [repayment], [manipulativeCosts], [withdraw], [dedline], [isRepaid], [note]) VALUES (N'0633d36c-3d8e-4bd0-a51a-4edd99a85285', N'823', N'20000', N'2020-07-16', N'1667', N'400', N'19600', N'12', 0, N'')
INSERT [dbo].[Loan] ([id], [userId], [loan], [loanDate], [repayment], [manipulativeCosts], [withdraw], [dedline], [isRepaid], [note]) VALUES (N'06ce099e-71e8-4f8f-91d1-eceea4615004', N'856', N'16200', N'2019-09-30', N'850', N'324', N'15876', N'6', 1, N'PS_30.09.2019')
GO
INSERT [dbo].[Users] ([id], [buisinessUnitCode], [firstName], [lastName], [pin], [birthDate], [accessDate], [terminationDate], [isActive], [monthlyFee]) VALUES (N'1000', N'I', N'IGOR', N'SKOČILIĆ', N'91076450960', N'1973-09-24', N'2018-03-20', N'', 1, N'100')
INSERT [dbo].[Users] ([id], [buisinessUnitCode], [firstName], [lastName], [pin], [birthDate], [accessDate], [terminationDate], [isActive], [monthlyFee]) VALUES (N'1013', N'Z', N'Siniša', N'Androlić', N'09124970841', N'1971-04-18', N'2020-02-12', N'', 1, N'100')
INSERT [dbo].[Users] ([id], [buisinessUnitCode], [firstName], [lastName], [pin], [birthDate], [accessDate], [terminationDate], [isActive], [monthlyFee]) VALUES (N'204', N'R', N'GORDANA', N'VRANIĆ', N'68706854348', N'1958-02-06', N'2015-01-23', N'', 1, N'100')
GO
