USE [kup]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 18.11.2019. 13:42:50 ******/
DROP TABLE [dbo].[Account]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 18.11.2019. 13:42:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[id] [nvarchar](50) NOT NULL,
	[userId] [nvarchar](50) NULL,
	[amount] [nvarchar](50) NULL,
	[recordDate] [nvarchar](50) NULL,
	[mo] [int] NULL,
	[yr] [int] NULL,
	[recordType] [nvarchar](50) NULL,
	[loanId] [nvarchar](50) NULL,
	[note] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[Account] ([id], [userId], [amount], [recordDate], [mo], [yr], [recordType], [loanId], [note]) VALUES (N'00910082-fdb9-4e92-85cb-dce0e7a459c3', N'829', N'2500', N'2019-11-13', 10, 2019, N'repayment', N'cc79b043-aba7-4999-8a6b-1ba74c0049d0', N'OD 10')
INSERT [dbo].[Account] ([id], [userId], [amount], [recordDate], [mo], [yr], [recordType], [loanId], [note]) VALUES (N'00a5e334-6567-43c6-b95d-d655cee32875', N'907', N'11000', N'2019-09-30', 9, 2019, N'monthlyFee', N'', N'PS_30.09.2019')
INSERT [dbo].[Account] ([id], [userId], [amount], [recordDate], [mo], [yr], [recordType], [loanId], [note]) VALUES (N'0100c2d7-7e93-46df-a729-7258edfb0be0', N'833', N'16500', N'2019-09-30', 9, 2019, N'monthlyFee', N'', N'PS_30.09.2019')
GO
