<li ng-if="src==null" class="list-group-item sidebar-separator-title text-muted d-flex align-items-center menu-collapsed">
    <small>{{title}}</small>
</li>
<li ng-if="src!=null" href="{{href}}" data-toggle="collapse" aria-expanded="false" class="bg-dark list-group-item list-group-item-action flex-column align-items-start">
    <a class="d-flex w-100 justify-content-start align-items-center" ng-click="toggleTpl(src, title)">
        <span class="fa fa-{{ico}} fa-fw mr-3"></span>
        <span class="menu-collapsed">{{title}}</span>
    </a>
</li>

